<!-- The edit order view -->
<section data-ng-controller="OrdersController" data-ng-init="findOne()">
	<h1>Edit Order</h1>
	<!-- The edited order form -->
	<form data-ng-submit="update()" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="order.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div>
			<label for="content">Content</label>
			<div>
				<textarea data-ng-model="order.content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
			</div>
		</div>
		<div>
			<label for="orderPlaced">Order Placed</label>
			<div>
				<input type="text" data-ng-model="order.orderPlaced" id="orderPlaced" placeholder="Order Placed" required>
			</div>
		</div>
		<div>
			<label for="orderStarted">Order Started</label>
			<div>
				<input type="text" data-ng-model="order.orderStarted" id="orderStarted" placeholder="Order Started" required>
			</div>
		</div>
		<div>
			<label for="restaurantNotified">Restaurant Notified</label>
			<div>
				<input type="text" data-ng-model="order.restaurantNotified" id="restaurantNotified" placeholder="Restaurant Notified" required>
			</div>
		</div>
		<div>
			<label for="driverAtRestaurant">Driver At Restaurant</label>
			<div>
				<input type="text" data-ng-model="order.driverAtRestaurant" id="driverAtRestaurant" placeholder="Driver At Restaurant" required>
			</div>
		</div>
		<div>
			<label for="foodPickedUp">Food Picked Up</label>
			<div>
				<input type="text" data-ng-model="order.foodPickedUp" id="foodPickedUp" placeholder="Food Picked Up" required>
			</div>
		</div>
		<div>
			<label for="deliveredToCustomer">Delivered To Customer</label>
			<div>
				<input type="text" data-ng-model="order.deliveredToCustomer" id="deliveredToCustomer" placeholder="Delivered To Customer" required>
			</div>
		</div>
		<div>
			<label for="driverName">Driver Name</label>
			<div>
				<input type="text" data-ng-model="order.driverName" id="driverName" placeholder="Driver Name" required>
			</div>
		</div>
		<div>
			<label for="estimatedDeliveryTime">Estimated Delivery Time</label>
			<div>
				<input type="text" data-ng-model="order.estimatedDeliveryTime" id="estimatedDeliveryTime" placeholder="Estimated Delivery Time" required>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<!-- The error message element -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
	</div>
</section>
