<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>DN</th>
                <th>OP</th>
                <th>OS</th>
                <th>RN</th>
                <th>DAR</th>
                <th>FPU</th>
                <th>DTC</th>
                <th class="text-right">EDT</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in restaurant">
                <td>{{item.driverName}}</td>
                <td>{{item.orderPlaced}}</td>
                <td>{{item.orderStarted}}</td>
                <td>{{item.restaurantNotified}}</td>
                <td>{{item.driverAtRestaurant}}</td>
                <td>{{item.foodPickedUp}}</td>
                <td>{{item.deliveredToCustomer}}</td>
                <td class="text-right">{{item.estimatedDeliveryTime}}</td>
                <td class="text-center">
                    <button class="btn btn-xs btn-primary"
                            ng-click="deleteRestaurant(item)">
                        Delete
                    </button>
                    <button class="btn btn-xs btn-primary"
                            ng-click="editOrCreateRestaurant(item)">
                        Edit
                    </button>
                    <increment item="item" property-name="price" restful="true"
                               method-name="$save" />
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="listRestaurant()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreateRestaurant()">New</button>
    </div>
</div>
